.product-details-section {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.carousel {
  width: 60vw;
  min-width: 300px;
}

.carousel-inner img,
.carousel-inner video {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  margin: 100px 0;
}

.carousel-control-prev-icon {
  background: url(/src/assets/left-chevron.svg);
  background-size: contain;
}
.carousel-control-next-icon {
  background: url(/src/assets/right-chevron.svg);
  background-size: contain;
}